$body-color: #000000;
$primary-color: #33015A;
$secondary-color: #7a02d7;
$accent-color: #FDFDFD;

// Button
$default-button-color: #33015A;
$default-button-font-color: #FDFDFD;
$default-button-border-color: #FDFDFD;
$default-button-border-width: 1px;
// Menu
$menu-color: #FDFDFD;
// Header
$default-header-color: #7a02d7;
$default-header-font-color: #FDFDFD;
$default-header-border-color: #FDFDFD;
$default-header-border-width: 4px;
// Segment
$default-segment-color: #33015a;
$default-segment-font-color: #FDFDFD;
$default-segment-border-color: #FDFDFD;
$default-segment-border-width: 4px;






